{% extends 'base.html' %}
{% load crispy_forms_filters %} {% load document_preview %}
{% load crispy_forms_filters %} {% load crispy_forms_tags %} {% block content %}
    <div class="container mt-5">
        <h2>{{ education.pk|yesno:"Edit Education,Add Education" }}</h2>
        <form method="post" enctype="multipart/form-data">
            {{ form.media }} {% csrf_token %}

            <!-- Education Information -->
            <h4>Education Information</h4>
            <div class="row mb-3">
                <div class="col-md-6">{{ form.institution|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.degree|as_crispy_field }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">{{ form.field_of_study|as_crispy_field }}</div>

                <div class="col-md-6">{{ form.grade|as_crispy_field }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">{{ form.start_date|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.end_date|as_crispy_field }}</div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6 inline">{{ form.online|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.gpa|as_crispy_field }}</div>
            </div>

            <!-- Certification Upload -->
            <h4>Certification</h4>
            <div class="row mb-3">
                <div class="col-md-6">
                    {% if form.instance.certification_copy %}
                        <label>Certification Copy</label>
                        {% document_preview form.instance.certification_copy.url %}

                        <a
                                href="#"
                                class="delete-file-link"
                                data-url="{% url 'candidates:delete_education_certification' form.instance.id %}"
                                data-file-name=" {{ form.instance.degree }} certification for {{ form.instance.candidate.full_name }}"
                        >
                            <i class="fa fa-trash"></i> delete</a
                        >

                    {% else %} {{ form.certification_copy|as_crispy_field }} {% endif %}
                </div>
                <div class="col-md-6">
                    {% if form.instance.transcript_copy %}
                        <label>Transcript Copy</label>
                        {% document_preview form.instance.transcript_copy.url %}
                        <a
                                href="#"
                                class="delete-file-link"
                                data-url="{% url 'candidates:delete_education_transcript' form.instance.id %}"
                                data-file-name=" {{ form.instance.degree }} certification for {{ form.instance.candidate.full_name }}"
                        >
                            <i class="fa fa-trash"></i> delete</a
                        >                    {% else %} {{ form.transcript_copy|as_crispy_field }} {% endif %}
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Save</button>
            <a
                    href="{% url 'candidates:candidate_detail' pk=candidate.pk %}"
                    class="btn btn-secondary"
            >Cancel</a
            >
        </form>
    </div>
{% endblock %}
